# This is a basic workflow to help you get started with Actions

name: MSBUILD

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@v2

    # Runs a single command using the runners shell
    - name: Setup MSBuild.exe
      uses: warrenbuckley/Setup-MSBuild@v1

    - name: MSBuild
      working-directory: plugin_unit_test_examples
      run: msbuild plugin_unit_test_examples.sln
    
    #- name: Enumerate all output files
    #  run: Get-ChildItem -Recurse
    
    - name: Test plugin_unit_test_examples.CrmPackage
      working-directory: "plugin_unit_test_examples\\CrmPackage\\bin\\Debug"
      run: mstest /testcontainer:\plugin_unit_test_examples.CrmPackage.dll
